.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}



.sidebar{
    background-color: aqua;

}
.main{
    background-color: rgb(255, 0, 0);
    grid-column: 2/3;
}
.header{
    background-color: rgb(47, 255, 0);
    grid-column: 2/3;
}