*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(225, 225, 225);
}

img{
    filter: invert(1);
}

.rightSide img{
    filter: invert(0);
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    background-color: #0ea5e9;
    color: white;
    padding: 10px 20px 20px;
    display: grid;
    /* grid-template-rows: 55px 256px 125px; */
    grid-template-rows: 1fr 3fr 1.5fr 5fr;
    gap: 45px;
}

.dash{
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap:19px;
    font-size: 30px;
    font-weight: bold;
}

.admin, .support{
    display: grid;
    gap: 10px;
    padding-left: 11px;
}
.home, .side_bottom{
    display: grid;
    align-items: center;
    grid-template-columns: 30px 100px;
    font-weight: bold;
    font-size: 20px;
    gap: 30px;
    padding-bottom: 10px;
}

.home div, .home img, .side_bottom img, .side_bottom div{
    cursor: pointer;
}
.dash img{
    width: 50px;
}

.name img{
    width: 50px;
}
.admin img, .side_bottom img, .headerTop img{
    width: 25px;
}

#acc{
    width: 35px;
}

.main{
    grid-column: 2/3;
}
.header{
    background-color: rgb(255, 255, 255);
    grid-column: 2/3;
    padding: 15px 30px 10px 30px;
    box-shadow: 0 5px 2px rgb(195, 195, 195);
}

.headerTop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 110px;
}

.headerBottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px ;
    font-weight: bold;
    gap: 40px;
    
}

.search{
    display: grid;
    grid-template-columns: 30px 75vh;
    align-items: center;
    gap:20px;
}

.search div{
    background-color:rgb(225, 225, 225);
    border-radius: 30px;
    width: 75vh;
    height: 30px;
}

.icon{
    display: grid;
    grid-template-columns: 30px 30px 130px;
    gap: 25px;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.name{
    display: grid;
    grid-template-columns: 50px 70vh;
    align-items: center;
    gap: 15px;
}

.upload{
    display: grid;
    grid-template-columns: repeat(3,90px);
    align-items: center;
    gap: 30px;
}

.upload div{
    background-color:  #0ea5e9;
    text-align: center;
    border-radius: 30px;
    height: 40px;
    display: grid;
    align-items: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#bigName{
    font-size: 25px;
}

#hi{
    font-size: 15px;
}